// Primary Colors
$P-DARKBLUE: #252b33;
$P-PINK: #f36;
$P-BLUE: #2b88d8;

// Whites to Black
$T1: #fff;
$T2: #f2f2f2;
$T3: #efefef;
$T4: #d2d1d1;
$T5: #b5b3b3;
$T6: #868585;
$T7: #6d6d6d;
$T8: #545454;
$T9: #333333;
$T10: #000;