.sidebar {
  height: calc(100vh - 56px);
  background-color: $P-DARKBLUE;
  position: fixed;
  z-index: 10;
}

.sidebar {
  padding-top: 45px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .list-group {
  .active {
    background-color: $P-DARKBLUE;
    // border-top: 1px solid $P-PINK;
    // border-left: 0;
    // border-right: 0;
    // border-bottom: 1px solid $P-PINK;
  }
  font-size: 13px;
  .list-group-item {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: $P-DARKBLUE;
    color: #fff;
    outline: none;
    border-top: 1px solid $P-PINK;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $P-PINK;
    border-radius: 0;
    padding-left: 5px;
    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}