.movie-cast-container {
  margin-top: 150px;
}
.cast-pointer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.lg-icon {
  font-size: 50px;
}

.cast-carousel-container {
  width: 80%;
}

.cast-title {
  margin-bottom: 10px;
  margin: 25px;
  padding: 0;
}