.movie-top-bg {
  height: 625px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.movie-rect {
  height: 200px;
  background-color: #171b21;
  position: absolute;
  bottom: -150px;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.poster-card {
  width: 342px;
  height: 513px;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 35px;
  z-index: 4;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.65);
}

.movie-header-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  // box-shadow: 0 -100px 50px rgba(0,0,0,0.6);
}

.movie-header-black-box {
  width: 100%;
  right: 0;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  box-shadow: 0 -2px 15px rgba(255,255,255,0.3);
}

.pl-50px {
  padding-left: 50px;
  padding-right: 50px;
}

.movie-title {
  padding-top: 10px;
  margin: 0;
  font-size: 35px;
  padding-bottom: 10px;
}

.badge {
  margin-bottom: 10px;
}

.movie-bottom-poster {
  height: 130px;
  padding-left: 35px;
}

.movie-bottom-header {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

